/* Estilos globais da página Perfil */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "New Rocker", system-ui;
}

body {
    background-image: url('../../images/fundos/fundo_pagina.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-bottom: 50px;
}

#logo {
    margin-left: 300px;
    width: 200px;
    height: 200px;
}

#botao-menu {
    position: fixed;
    width: 150px;
    height: 50px;
    top: 20px;
    right: 20px;
    background-image: url('../../images/botoes/botao_menu.png');
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    color: #3b2509;
    padding: 13px 47px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    z-index: 1001;
}

#botao-menu:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

/* Menu lateral */
.menu {
    position: fixed;
    top: -55px;
    right: -290px;
    width: 55%;
    height: 112%;
    background-image: url('../../images/fundos/fundo_menu.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    clip-path: inset(0% 0% 100% 0%);
    transition: visibility 0s linear 0.8s, opacity 0.8s ease-out, clip-path 0.8s ease-out;
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
}

.menu.aberto {
    clip-path: inset(0% 0% 0% 0%);
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.8s ease-out, clip-path 0.8s ease-out;
}

.opcoes-menu {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #3b2509;
}

.titulo-menu {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: -5%;
    font-size: 50px;
    font-weight: bold;
    color: #3b2509;
}

.titulo-menu a {
    font-size: 35px;
    margin-left: 25%;
    margin-bottom: 20px;
    font-weight: bold;
    color: #3b2509;
    cursor: pointer;
}

.titulo-menu a:hover {
    transform: scale(1.01);
    filter: brightness(1.5);
}

.titulo-menu p {
    font-size: 80px;
    margin-left: 30%;
    font-weight: bold;
    color: #3b2509;
}

.opcoes-menu a {
    color: #3b2509;
    font-size: 45px;
    margin: 40px;
    text-decoration: none;
}

.opcoes-menu a:hover {
    transform: scale(1.05);
    filter: brightness(1.5);
}

/* Perfil Lateral */
.perfil-main {
    height: 100%;
    width: 450px;
    position: fixed;
    left: 0;
    top: 0px;
    margin: 0;
    background-image: url('../../images/fundos/fundo_pedra_limpo_final.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 80px;
}

.moldura {
    background-image: url('../../images/fundos/moldura_perfil.png');
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foto-perfil {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    object-fit: cover;
}

#nome-perfil,
#titulo-descricao-perfil,
#descricao-perfil {
    text-align: center;
    color: rgb(189, 158, 90);
}

#nome-perfil {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

#titulo-descricao-perfil {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -30px;
}

#descricao-perfil {
    font-size: 20px;
    text-align: justify;
    padding: 45px;
}

.perfil-botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    padding: 0 20px;
}

.perfil-botoes button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.perfil-botoes button:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.botao-apagar {
    background-image: url('../../images/botoes/botao_apagar_transparente.png');
}

.botao-sair {
    background-image: url('../../images/botoes/botao_sair_transparente.png');
}

/* Botões para filtrar as fichas */
.opcoes-fichas {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-top: -90px;
    margin-left: 300px;
    margin-bottom: -30px;
}

.opcoes-fichas a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/fundos/banner_hibrido_transparente.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 180px;
    height: 120px;
    color: #ecc46c;
    font-size: 20px;
    text-decoration: none;
    z-index: 1000;
    margin-bottom: -130px;
}

.opcoes-fichas a:hover {
    transform: scale(1.05);
    filter: brightness(1.5);
}

.fichas-div {
    background-image: url('../../images/clean_background_theoros.png');
    background-size: cover;
    width: 1190px;
    min-height: 670px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    overflow: hidden;
}

.ficha-avaliacao button {
    background-image: url('../../images/icons/estrela_cinza_escura.png');
}

.ficha-avaliacao button:hover {
    background-image: url('../../images/icons/estrela_dourada.png');
}

.btn-download {
    background-image: url('../../images/botoes/botao_download_transparente.png');
}

.btn-excluir {
    background-image: url('../../images/botoes/botao_excluir_transparente.png');
}
